<% content_for(:page_title) { "New leave type" } %>
<div class="hrl-page__head"><h1 class="hrl-page__title">New leave type</h1></div>
<%= render "form", leave_type: @leave_type, url: hr_lite.admin_leave_types_path, method: :post %>
