<% content_for(:page_title) { "New employee profile" } %>
<div class="hrl-page__head"><h1 class="hrl-page__title">New employee profile</h1></div>
<%= render "form", profile: @profile, url: hr_lite.admin_employees_path, method: :post %>
